.body{
    
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     background-color: #242222;
     color: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 65%;
    width: 30%;
}
.container span{
    background-color: white;
    height: 3px;
    width: 100%;
}

.container input{
    width: 100%;
    background-color: white;
    height: 20%;
    padding: 15px 15px;
    color: black;

}


.container input:focus{
    outline: none;

}
